{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="hero d-flex align-items-center justify-content-center">
    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 d-flex flex-column align-items-center full-review-detail">
        <div class="review-image-detail">
            <!-- Display the image if it exists -->
            {% if review.image %}
            <img src="{{ review.image.url }}" alt="Review image">
            {% else %}
            <img src="{% static 'images/defaultimage.jpg' %}" alt="Mojo Logo">
            {% endif %}
        </div>
        <div class="card mb-1 review-cards-detail">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ review.author }}</h5>
                <p class="card-text">{{ review.content }}</p>
                <div class="mt-auto">
                    <p>
                        <span class="star-rating" data-rating="{{ review.rating }}"></span>
                    </p>
                    <a href="{% url 'review_detail' review.pk %}" class="btn btn-primary btn-review">See Review</a>
                    {% if user.is_authenticated and review.author == user %}
                    <a href="{% url 'review_edit' review.pk %}" class="btn btn-primary btn-review">Edit/Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/stars.js' %}"></script>
<script src="{% static 'js/delete-review.js' %}"></script>
{% endblock %}