{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid hero">
    <div class="row lar-header">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <h1 class="mb-4">Edit Review</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="col-12 col-sm-8 col-md-8 col-lg-6 col-xl-4 form-container-edit">

                {% if user.is_authenticated %}
                <form method="post" enctype="multipart/form-data" class="review-form review-form-edit" action="{% url 'review_detail' review.pk %}">
                    {% csrf_token %}
                    <div class="container-fluid p-0">
                        <div class="row">
                            <div class="col-12">
                                {% if form.instance.image %}
                                <div class="current-image-edit">
                                    <img src="{{ form.instance.image.url }}" alt="Current Review Image">
                                </div>
                                {% endif %}
                                <div class="p-2">
                                    <label for="id_image">Upload an image (Optional):</label>
                                    <input type="file" name="image" id="id_image" class="form-control-file">
                                </div>
                            </div>
                        </div>
                        <div class="p-2">
                            <div class="row er-content">
                                <div class="col-12">
                                    {{ form.content }}
                                </div>
                            </div>
                            <div class="row er-rating">
                                <div class="col-12">
                                    {{ form.rating }}
                                </div>
                            </div>
                            <br>
                            <div class="row lar-submit">
                                <div class="col-6 text-center">
                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                </div>
                                <div class="col-6 text-center">
                                    <button type="button" class="btn btn-danger btn-delete" review_id="{{ review.pk }}">Delete
                                        Review</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Delete confirmation modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete review?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete your review?
                    This action cannot be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a id="deleteConfirm" href="{% url 'welcome' %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block extras %}
<script src="{% static 'js/delete-review.js' %}"></script>
{% endblock %}