/* Base HTML */

.logo img {
    max-width: 40%;
    max-height: 40%;
    border-radius: 50%;
}

.navbar {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(134, 204, 227);
}

.navbar-text {
    margin-right: 10%;
    font-family: Roboto, sans-serif;
    font-size: 19px;
}

.navbar-text a {
    border-radius: 5px;
}

footer {
    position: static;
    background-color: #5A7D9A;
    bottom: 0;
}

footer p {
    color: white;
    font-size: 22px;
}

.made-by p {
    font-size: 12px;
}

/* Welcome page  */

.hero {
    position: relative;
    background-position: center 50%;
    background-image: url('../images/heroimage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 0;
}


.hero-text h1 {
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    font-family: "Funnel Display", sans-serif;
}

.hero-text p {
    color: white;
    font-size: 25px;
}

.login-status {
    top: 5px;
    right: 5px;
    color: white;
}

.welcome-image img {
    border-radius: 50%;
}

.welcome-intro {
    background-color: #f5f3dc;
}

.welcome-details h2 {
    font-size: 50px;
    font-family: Roboto, sans-serif;
}

.welcome-details p {
    font-size: 22px;
    font-family: Roboto, sans-serif;
    color: rgb(80, 80, 80);
}


/* Reviews Page */

.hero-review {
    position: relative;
    background-position: center 50%;
    background-image: url('../images/heroimage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100vw;
    margin: 0;
}

.login-status a {
    color: #FFA500;
    padding-left: 5px;
}

.full-review {
    max-height: 450px;
}


.reviews-header {
    text-align: center;
    justify-content: center;
    font-family: "Funnel Display", sans-serif;
    color: white;
    padding-top: 20px;
}

.review-cards {
    background-color: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 0;
    border-top-right-radius: 0;

}

.review-cards a {
    width: 100px;
    font-size: 14px;
}

.card-text {
    font-size: 13px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

}

.review-image {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    width: 18rem;
}

.review-image img {
    width: 18rem;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

.curved-top img {
    width: 100%;
    height: auto;
}

.card-body {
    color: white;
    height: 216px;
}

/* leave a review page */

.leave-a-review {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.lar-header {
    height: 50px;
    color: white;
    font-family: "Funnel Display", sans-serif;
}

.form-container {
    border-radius: 10px;
    color: white;
}

.star-rating i {
    color: #ffcc00;
    margin-right: 3px;
    font-size: 18px;
}

.star-rating i.far {
    color: #d3d3d3;
}

#id_content {
    width: 80%;
    border: 2px solid #ccc;
    border-radius: 10px;
}

#id_rating {
    border: 2px solid #ccc;
    border-radius: 10px;
}

.review-a a {
    text-decoration: none;
    color: #FFA500;
    font-style: italic;
}

/* Review detail */

.full-review-detail {
    max-height: 700px;
}

.review-cards-detail {
    background-color: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 32rem;

}

.review-cards a {
    width: 100px;
    font-size: 14px;
}

.review-image-detail {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    width: 32rem;
}

.review-image-detail img {
    width: 32rem;
    height: 450px;
    object-fit: cover;
    object-position: center;
}

.curved-top img {
    width: 100%;
    height: auto;
}

.card-body {
    color: white;
    height: 216px;
}

/* Buttons */

.navbar-text a:hover {
    border-radius: 5px;
    background-color: rgb(75, 106, 123);
    color: white;
}


.pagination-btn a {
    background-color: rgb(134, 204, 227);
    border-radius: 5px;
    border: 1px solid rgb(75, 106, 123);
    color: rgb(33, 37, 41);
    font-family: Roboto, sans-serif;
}

.pagination-btn a:hover {
    background-color: rgb(75, 106, 123);
    color: white;
    border-radius: 5px;
    border: 1px solid rgb(75, 106, 123);
    font-family: Roboto, sans-serif;
}

.signup-link {
    color: #FFA500;
    text-decoration: none;
    font-style: italic;
}

.btn-signup, .btn-review {
    background-color: rgb(134, 204, 227);
    border-radius: 5px;
    border: 1px solid rgb(75, 106, 123);
    color: rgb(33, 37, 41);
    font-family: Roboto, sans-serif;
}

.btn-signup:hover, .btn-review:hover {
    background-color: rgb(75, 106, 123);
    color: white;
    border-radius: 5px;
    border: 1px solid rgb(75, 106, 123);
    font-family: Roboto, sans-serif;
}

.signup-a a {
    color: #FFA500;
    text-decoration: none;
    font-style: italic;
}

 /* Media Querys */

 @media (max-width: 576px) {
    .reviews-header {
        text-align: center;
        justify-content: center;
        font-family: "Funnel Display", sans-serif;
        color: white;
        padding-top: 40px;
    }

    .hero-text h1 {
        color: white;
        text-transform: uppercase;
        font-size: 50px;
        font-family: "Funnel Display", sans-serif;
    }

    /* Review Detail */

    .full-review-detail {
        max-height: 500px;
    }
    
    .review-cards-detail {
        background-color: rgba(0, 0, 0, 0.5);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: 20rem;
    
    }
    
    .review-cards a {
        width: 100px;
        font-size: 14px;
    }
    
    .review-image-detail {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        overflow: hidden;
        width: 20rem;
    }
    
    .review-image-detail img {
        width: 20rem;
        height: 250px;
        object-fit: cover;
    }
}

/* About Page */

.mojo-intro {
    background-color: #d3d2d2;
}

.house-bg {
    position: relative;
    background-position: center 50%;
    background-image: url('../images/bluedoor.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100vw;
    margin: 0;
    border-top: 10px solid rgb(134, 204, 227);
    border-bottom: 10px solid rgb(134, 204, 227);
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 20px;
}

.house-bg p {
    padding-left: 20px;
    padding-right: 20px;
}

.redsky-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.about-us {
    background-color: #d3d2d2;
}

.about-card-a, .about-card-b {
    max-width: 26rem;
    border-radius: 18px;
    border: 2px solid rgba(0, 0, 0, 0.425);
    height: 550px;
}

.about-card-a.expanded-card-a {
    max-width: 26rem;
    border-radius: 18px;
    border: 2px solid rgba(0, 0, 0, 0.425);
    height: 930px;
}

.about-card-b.expanded-card-b {
    max-width: 26rem;
    border-radius: 18px;
    border: 2px solid rgba(0, 0, 0, 0.425);
    height: 700px;
}

.about-card-a img, .about-card-b img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 250px;
    object-fit: cover;
    object-position: center top;
}

.about-card-a.card-body, .about-card-b.card-body {
    height: fit-content;
}

.about-card-a p, .about-card-a h5 {
    color: black;
}

.about-card-b p, .about-card-b h5 {
    color: black;
}

.about-card-a button, .about-card-b button {
    border: none;
    background-color: white;
    font-family: "Funnel Display", sans-serif;
    color: rgb(134, 204, 227);
}




@media (min-width: 992px) {
    .hero-review {
        position: relative;
        background-position: center 50%;
        background-image: url('../images/heroimage.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        min-height: 750px;
        width: 100vw;
        margin: 0;
    }
}