/* Base HTML */

.logo img {
    max-width: 40%;
    max-height: 40%;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    transition: background-color;
    opacity: 0.5;
}

.navbar.scrolled {
    background-color: white;
    opacity: 1;
}

#navbarText {
    margin-right: 10%;
}

footer {
    background-color: rgba(0, 0, 128, 0.839);
}

footer p {
    color: white;
    font-size: 22px;
}

.made-by p {
    font-size: 12px;
}

/* Welcome page  */

.hero {
    position: relative;
    background-position: center 50%;
    background-image: url('../images/heroimage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.hero-text h1 {
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    font-family: "Funnel Display", sans-serif;
}

.hero-text p {
    color: white;
    font-size: 25px;
}

.welcome-intro {
    background-color: rgb(219, 219, 219);
}

.welcome-details h2 {
    font-size: 50px;
    font-family: Roboto, sans-serif;
}

.welcome-details p {
    font-size: 22px;
    font-family: Roboto, sans-serif;
    color: rgb(80, 80, 80);
}


/* Reviews Page */

.reviews-header {
    text-align: center;
    justify-content: center;
    font-family: "Funnel Display", sans-serif;
    color: white;
    padding-top: 150px;
}

.review-cards {
    background-color: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 0;
    border-top-right-radius: 0;

}

.review-image {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    width: 18rem;
}

.review-image img {
    width: 18rem;
    height: 150px;
    object-fit: cover;
}

.curved-top img {
    width: 100%;
    height: auto;
}

.card-body {
    color: white;
}

/* leave a review page */

.leave-a-review {
    margin-top: 130px;
    background-color: rgba(0, 0, 0, 0.5);
    color: black;
}

.star-rating i {
    color: #ffcc00;
    margin-right: 3px;
    font-size: 18px;
}

.star-rating i.far {
    color: #d3d3d3;
}

#id_content {
    width: 80%;
    border: 2px solid #ccc;
    border-radius: 10px;
}

#id_rating {
    border: 2px solid #ccc;
    border-radius: 10px;
}