{% extends "base.html" %}
{% load static %}

{% block content %}

<body>
    <div class="container-fluid d-flex align-items-center justify-content-center text-center p-0 hero">
        <div class="row">
            <div class="col hero-text">
                <h1>Mojo Yoga Morocco</h1>
                <p>Yoga & Surfing Holidays • Taghazout, Morocco</p>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center p-0 welcome-intro">
        <div class="row">
            <div class="col">
                <p>image to go here</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6 welcome-details">
                <h2>
                    Welcome to our website
                <h2>
                <p>Since Joanna moved to Morocco in 2019, building a house and offering yoga holidays has been a dream.
                </p><br>
                <p>In February 2022, Mohamed and Joanna began a project building a house in the mountains 3km inland
                    from the famous surf village of Taghazout. The house was completed in April 2023. We are still
                    working on improving our garden, but we have started growing vegetables, which is both rewarding and
                    frustrating at times!</p><br>
                <p>We have rehomed two street dogs and two street cats, who all found us even though we were trying not
                    to look! They are now part of the family.</p><br>
                <p>Mohamed and Joanna are now offering small, exclusive yoga holidays with (optional) surf lessons.
                    Joanna is a postgraduate of the Devon School of Yoga and has spent the last four years teaching yoga
                    in Taghazout. Mohamed is a qualified surf instructor and musician.</p><br>
                </div>
                <div class="col-md-3">
                </div>
        </div>
    </div>
</body>

{% endblock %}